body {
    background-color: #333333;
    justify-content: center;
}

main {
    background-color: #f6f6f6;
    padding-top: 10px;
    padding-left: 10%;
    padding-right: 10%;
}

.pagination {
    width: 80%;
}

.filter-item {
    width: 20%;
    display: inline-block;
}


.home-page-content {
    display: flex;
}

.filter-container {

    margin-bottom: 5px;
}

.form-check-inline {
    display: flex;
    flex-direction: column;

}

footer,
header {
    background-color: #333333;
    color: azure;
    height: 7vh;

}

footer {
    bottom: 0;
}

svg {
    color: azure;
}

.fs-4 {
    color: azure;
}

.number {
    color: #ccc;
}

@media (max-width: 1000px) {
    .home-page-content {
        display: flex;
        flex-direction: column;
    }

    .number {
        font-size: 16px;
    }

    header,
    footer {
        height: fit-content;
    }
}

@media (min-width: 1000px) {
    .home-page-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
    }

    .filter-container {
        width: 30%;
        margin-bottom: 5px;
    }




}

@media screen and (min-width: 1920px) {
    main {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (min-width: 3840px) {

    .container {
        width: 3810px;
    }

    footer {
        bottom: 0;
        position: relative;
        font-size: 2.5em;
        margin-bottom: 10px;
    }

    header {
        height: fit-content;
    }

    main {
        min-width: 85%;
    }

    .fs-4 {
        font-size: 2.5rem !important;
    }

    svg {
        height: 48;
        width: 48;
    }

    .results {
        margin: 0;
    }

    .filter-container {
        margin: 0;
        width: 20%;
    }

    .card-title,
    .card-text,
    h7,
    .card-subtitle,
    .filter-container {
        font-size: 2.5em;
    }

    h6 {
        font-size: 1.2em;
    }

    .card {
        width: 100%;
    }

}